<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.wuhan_data.mapper.MenuMapper">
        <insert id="add" parameterType="Menu" >
        	insert into WUHAN_DATA.MENU (level_one,level_two,role_name,url,perm) values (#{level_one},#{level_two},#{role_name},#{url},#{perm}) 
        </insert>
         
        <delete id="delete" parameterType="Menu" >
            delete from WUHAN_DATA.MENU where id= #{id}  
        </delete>
         
        <select id="get" parameterType="_int" resultType="Menu">
            select * from   WUHAN_DATA.MENU  where id= #{id}   
        </select>
 
        <update id="update" parameterType="Menu" >
            update WUHAN_DATA.MENU set level_one=#{level_one} , level_two=#{level_two} , role_name=#{role_name} , url=#{url} ,perm=#{perm} where id=#{id}   
        </update>
        
        <select id="list" resultType="Menu">
            select * from WUHAN_DATA.MENU     
        </select>    
        
        <select id="count" resultType="int">
        	select count(*) from WUHAN_DATA.MENU  
        </select>
        
         <select id="searchByRole" parameterType="java.util.ArrayList" resultType="Menu">
        	select * from WUHAN_DATA.MENU  where role_name in 
        	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
          		#{item}
     		</foreach>
        </select>
         <select id="searchByRoleGroupByOne" parameterType="java.util.ArrayList" resultType="Menu">
        	
<!--         	select * from (select max(id),level_one,level_two,role_name,url,perm from WUHAN_DATA.MENU  where role_name in   -->
<!--         	<foreach collection="array" index="index" item="item" open="(" separator="," close=")"> -->
<!--           		#{item} -->
<!--      		</foreach> -->
<!--         	group by level_one  ORDER BY id -->
        	
        select * from WUHAN_DATA.MENU where id in (select max(id) from WUHAN_DATA.MENU where role_name in  
        	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
          		#{item}
     		</foreach>
        	group by level_one  ORDER BY id)
        	
        	
        </select>
        <select id="searchByRoleAndLevel_one" parameterType="java.util.Map" resultType="Menu">
        	select * from WUHAN_DATA.MENU  where role_name=#{role_name} and level_one=#{level_one}
        </select>
        
        <select id="getRole_nameBy" parameterType="java.util.Map" resultType="Menu">
        	select * from WUHAN_DATA.MENU  where  level_two=#{level_two}
        </select>
    </mapper>