@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,a,p,span{margin:0;padding:0;word-wrap:break-word;}
img{border:0; background:none;font:12px/1.5 arial,Verdana,tahoma,"Microsoft YaHei",sans-serif;}
img{font-size:0;}
body,button,input,select,textarea{font:12px/1.5 arial,tahoma,"Microsoft YaHei",sans-serif;}
h1,h2,h3,h4.h5,h6,button,input,select,textarea{font-size:100%; font-weight: normal;}
var,em{font-family:normal;font-family:"Microsoft YaHei"}
pre{font-family:"Courier New", Courier, monospace;}
hr{border:1px solid #dedede;}
dl{list-style-type:none;}
ul,ol{list-style:none;}
a{text-decoration:none;outline:none; color: #818080;}
a:hover{text-decoration:none;outline:none; color: #9d70b1;}
em{font-style:normal;}
table{border-collapse: collapse; border-spacing: 0;} 

.clear{
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}
body{
    background: #fff;
    color: #818080;
    font-family: "Microsoft YaHei";
}
.left{
    float: left;
}
.right{
    float: right;
}
.text-center{
    text-align: center;
}
.hidden{
    display: none;
}
.font{
    font-family: "Microsoft YaHei";
    font-style: normal;
}
.wrapper{
    position: relative;
    min-width: 1000px;
    margin: 0 auto;
}
/*====================== Header ========================*/
.header-wrap{
    background-color: #4d4d4d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}
.header-inner{
    width: 1000px;
    margin: 0 auto;
    font-size: 14px;
    padding: 14px 0;
}
/*.header{
    min-width: 830px;
    background: #000;
    height: 60px;
    padding: 0 40px 0 20px;
    line-height: 60px;
    font-size: 16px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    z-index: 99;
    font-family: "Microsoft YaHei";
}*/
.head-left{
    float: left;
}
.head-left .logo a{
    color: #FFFFFF;
}
.head-right{
    float: right;
}
.head-right ul{}
.head-right ul li{
    float: left;
    padding-left: 16px;
}
/*.head-right ul li.first{
    background: url("../images/icon/ico-line.png") no-repeat right center;
    padding-right: 16px;
}*/
.head-right ul li{
    background: url("../images/icon/ico-line.png") no-repeat right center;
    padding-right: 16px;
}
.head-right ul li.last{
    background: none;
    padding-right: 0;
}
.head-right ul li a{
    color: #FFFFFF;
    display: block;
    height: 22px;
}
.head-right ul li a:hover{
    color: #a073b4;
}
.manage-login{
    background: url("../images/icon/ico-login.png") no-repeat left center;
    padding-left: 25px;
}
.manage-reg{
    background: url("../images/icon/ico-reg.png") no-repeat left center;
    padding-left: 27px;
}
.about-us-link{
    background: url("../images/icon/ico-about-us.png") no-repeat left center;
    padding-left: 18px;
}
.user-terms-link{
    background: url("../images/icon/ico-user-terms.png") no-repeat left center;
    padding-left: 27px;
}


/*====================== /.Header ========================*/

/*====================== Banner ======================*/
.carousel {
    position: relative;
    margin-top: 50px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    width: 100%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    line-height: 1
}

@media all and (transform-3d),(-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px
    }

    .carousel-inner > .item.active.right, .carousel-inner > .item.next {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }

    .carousel-inner > .item.active.left, .carousel-inner > .item.prev {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    .carousel-inner > .item.active, .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block
}

.carousel-inner > .active {
    left: 0
}

.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner > .next {
    left: 100%
}

.carousel-inner > .prev {
    left: -100%
}

.carousel-inner > .next.left, .carousel-inner > .prev.right {
    left: 0
}

.carousel-inner > .active.left {
    left: -100%
}

.carousel-inner > .active.right {
    left: 100%
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none
}

.carousel-indicators li {
    display: inline-block;
    cursor: pointer;
    background: url("../images/icon/ico-cricle.png") no-repeat;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 0;
    margin: 0 0 0 10px;
}

.carousel-indicators .active {
    background: url("../images/icon/ico-cricle-h.png") no-repeat;
    width: 24px;
    height: 24px;
    border: none;
    margin: 0 0 0 10px;
    border-radius: 0;
}

/*====================== /.Banner ======================*/

/*====================== Content ======================*/
.content{
    margin-top: 122px;
}
.navigation{
    width: 1000px;
    margin: 0 auto;
}
.navigation ul{
}
.navigation ul li{
    float: left;
    width: 140px;
    text-align: center;
    margin-left: 75px;
    font-size: 20px;
}
.navigation ul li p{
    /*font-family: "SimHei";*/
}
.navigation ul li.first{
    margin-left: 0;
}
.navigation ul li .ico-nav{
    margin-bottom: 10px;
}
.nav-box{
    margin-top: 80px;
}
.nav-box .section{
    background-color: #ffffff;
    height: 522px;
}
.nav-box #section-five{
    height: auto;
}
.nav-box .sec-hover{
    background-color: #eef1f2;
}
.nav-box .section-inner{
    width: 1000px;
    margin: 0 auto;
    padding: 56px 0;
}
#section-two .section-inner{
    padding: 79px 0;
}
#section-four .section-inner{
    padding: 92px 0;
}
.section-img{
    width: 500px;
}
.section-img img{
    width: 82%;
    text-align: center;
}
#section-one .section-img img{
    margin-top: 60px;
}
#section-two .section-img img{
    width: 72%;
}
.section-text{
    width: 480px;
    padding-left: 20px;
}
.section-text h3.margin-spacing{
    margin-bottom: 0;
}
#section-three .section-text{
    margin-top: 100px;
}
#section-four .section-text{
    margin-top: 20px;
}
.section-text h3,
.sec-title h3{
    font-size: 32px;
    color: #636363;
    margin-bottom: 10px;
}
.section-text p{
    line-height: 32px;
    font-size: 18px;
}
.section-text .p-title{
    font-size: 18px;
    margin-bottom: 20px;
}
.section-dec{
    width: 400px;
}
.dec-bg{
    background-color: #e5e5e5;
    padding: 27px;
}
.btn-box{
    margin-top: 14px;
}
.btn-box a{
    display: inline-block;
    text-indent: -99999px;
}
.btn-box a.btn-read{
    background: url("../images/btn-read.png") no-repeat;
    width: 164px;
    height: 56px;
}
.btn-box a.btn-reg-guide{
    background: url("../images/btn-reg-guide.png") no-repeat;
    width: 230px;
    height: 49px;
}
.btn-box a.btn-reg{
    background: url("../images/btn-reg.png") no-repeat;
    width: 152px;
    height: 49px;
    margin-left: 14px;
}

/* PRODUCT */
.product-block{
    margin-top: 14px;
}
.sec-title h3{
    text-align: center;
}

.product-block .product-item{
    margin-top: 54px;
    height: 316px;
    position: relative;
}
.product-img,
.product-dec{
    height: 316px;
}
.product-img{
    width: 500px;
    background-color: #FFFFFF;
    text-align: center;
}
.product-img img{
    vertical-align: bottom;
    margin-top: 28px;
}
.product-two .product-img img{
    margin-top: 55px;
}
.product-dec{
    width: 460px;
    background-color: #f6f6f6;
    padding-left: 40px;
}
.product-dec .margin-spacing{
    margin-top: 55px;
}
.product-two .product-dec .margin-spacing{
    margin-top: 100px;
}
.product-three .product-dec .margin-spacing{
    margin-top: 90px;
}
.product-four .product-dec .margin-spacing{
    margin-top: 43px;
}
.product-dec h4{
    font-size: 24px;
    font-weight: normal;
}
.product-dec h5{
    font-size: 22px;
    font-weight: normal;
}
.product-dec .product-text{
    margin-top: 14px;
}
.product-dec p{
    font-size: 16px;
    line-height: 30px;
}
.ico-guide{
    text-indent: -99999px;
    position: absolute;
    display: block;
    width: 28px;
    height: 33px;
    top: 138px;
}
.ico-guide.ico-guide-r{
    background: url("../images/icon/ico-guide-r.png") no-repeat;
    left: 496px;
}
.ico-guide.ico-guide-l{
    background: url("../images/icon/ico-guide-l.png") no-repeat;
    left: 474px;
}



/* /.Product */

.download-list ul li{
    float: left;
    width: 500px;
    text-align: center;
    font-size: 16px;
}
.download-list ul li img{
    padding: 10px;
    border: 1px solid #c3c3c3;
    background-color: #FFFFFF;
}
.download-list h3,
.video-list h3{
    text-align: center;
    font-size: 24px;
    color: #5b5b5b;
    margin-bottom: 40px;
}

.ico-ios{
    line-height: 30px;
    margin-top: 10px;
}
.ico-ios span{
    display: inline-block;
    width: 34px;
    /*padding-right: 30px;*/
    background: url("../images/icon/ico-ios.png") no-repeat;
    background-size: 24px;
    text-indent: -99999px;

}
.ico-android span{
    background: url("../images/icon/ico-android.png") no-repeat;
    background-size: 24px;
}
.download-list p.download-tip{
    font-size: 14px;
    margin-top: 30px;
}
.download-list p.download-tip span{
    color: #ed492e;
}


.scroll {
    width: 1000px;
    margin: 0 auto;
    position:relative;
}
.scroll .prev,.scroll .next {
    position: absolute;
    display: block;
    width: 49px;
    height: 49px;
    top: 42%;
    color: #FFF;
    text-indent: -99999px;
    text-align: center;
    z-index: 2;
    cursor: pointer;
}
.scroll .prev {
    left:0;
    background: url("../images/arrow-left.png") no-repeat center;
}
.scroll .next {
    right:0;
    background: url("../images/arrow-right.png") no-repeat center;
}
.scroll .prev:hover,.scroll .next:hover{
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.scroll-list {
    position:relative;
    width:880px;
    height:248px;
    overflow:hidden;
    zoom:1;
    margin-left: 60px;
}
.scroll-list ul {
    width:9999px;
}

.video-list ul li{
    float: left;
    display:inline;
    width: 194px;
    margin-right: 10px;
    background-color: #fff;
    padding: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #d6d8d8;
}

.video-list ul li .video{
    width: 194px;
    height: 136px;
}
.video-list ul li .video-title{
    width: 185px;
    height: 21px;
    text-align: center;
    margin-top: 15px;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
.video-list ul li .video-title a{
    font-size: 14px;
    color: #4b4a4e;
}
.video-list ul li .video-title a:hover{
    color: #9d70b1;
}
.video-list ul li .video-data{
    color: #bcbcbc;
    padding: 0 10px;
    margin-top: 20px;
}

/*====================== /.Content ======================*/


/*====================== Footer ======================*/
.footer{
    background: #FFFFFF url("../images/bg-footer.png") repeat-x bottom;
    padding-top: 50px;
}
.footer.sec-hover{
    background-color: #eef1f2;
}
.footer-inner{
    width: 1000px;
    margin:0 auto;
}
.footer-inner ul{
    width: 920px;
    margin: 0 auto;
}
.footer-inner ul li{
    float: left;
    width: 164px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 26px;
}
.footer-inner ul li.second{
    /*width: 320px;*/
}
.footer-inner ul li.third{
    width: 242px;
}
.footer-inner ul li.second .margin-space{
    margin-left: 36px;
}
.footer-inner ul li.last{
    width: 310px;
}
.footer-inner ul li.first{
    width: 174px;
    margin-left: 0;
}
.footer-inner ul li h2{
    font-size: 24px;
    margin-bottom: 20px;
}
.footer-inner img{
    width: 135px;
}
.footer-inner ul li p em{
    display: inline-block;
    width: 80px;
    float: left;
    text-align: right;
}
.footer-inner ul li p span{
    float: left;
    display: inline-block;
    width: 228px;
}
.copyright{
    /*font-family: "宋体";*/
    text-align: center;
    margin-top: 120px;
    padding-bottom: 80px;
    font-size: 15px;
    line-height: 28px;
}

/*====================== /.Footer ======================*/

/* 右侧导航 */
#nav-fixed{
    position: fixed;
    top: 30%;
    right: 14px;
    display: none;
    max-width: 110px;
    z-index: 5;
}
#nav-fixed ul li{
    margin-bottom: 16px;
    height: 18px;
}
#nav-fixed ul li a{
    display: block;
    width: 18px;
    height: 18px;
    text-indent: -9999px;
    float: right;
    margin-top: 5px;
    background-color: #6e5c8e;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
#nav-fixed ul li a:hover {
    background-color: #9e70b1;
}

#nav-fixed ul li span{
    float: left;
    display: none;
    background-color: #9e70b1;
    padding: 4px 8px;
    margin-right: 4px;
    color: #ffffff;
    border-radius: 10px;
}

/* =============== /.右侧导航 ================ */

/* =============== Pay Pages ================ */
.pay-wrap{
    background-color: #f2f2f2;
    font-family: "黑体";
}

.banner img{
    width: 100%;
}
.pay-content{
    border: 1px solid #e6e6e6;
    margin-top: 48px;
    background-color: #ffffff;
}
.pay-heading{
    padding: 20px 36px;
    border-bottom: 2px solid #e6e6e6;
}
.pay-heading h2{
    float: left;
    font-size: 30px;
    color: #999999;
    margin: 0;
}
.pay-heading .tel-item{
    float: right;
    font-size: 18px;
    line-height: 32px;
    color: #8a8a8a;
    margin: 0;
}
.pay-body{
    padding-bottom: 100px;
}
.pay-body .pay-type{
    padding: 40px 34px;
    background: url("../images/ico-dashed.png") repeat-x bottom;
}
.pay-body .pay-way{
    padding: 24px 34px;
}
.code-input{
    margin-bottom: 54px;
}
.code-input label{
    font-size: 20px;
    color: #8170a6;
    font-weight: normal;
}
.code-input input{
    width: 233px;
    height: 36px;
    color: #8170a6;
    border: 1px solid #b3b3b3;
    padding: 5px 10px;
    font-size: 16px;
}
.code-input span{
    color: #ed492e;
    font-weight: bold;
    font-size: 20px;
}
.type-item{
    background: url("../images/bg-pay-type.png") no-repeat;
    width: 100%;
    /*height: 155px;
    max-height: 220px;*/
    border: 2px solid #8170a6;
    background-size: 100%;
    cursor: pointer;
    margin-bottom: 15px;
}
.type-item:hover{
    /*background: url("../images/bg-pay-typeh.png") no-repeat;
    background-size: 100%;
    color: #f38033;*/
    border: 2px solid #f38033;
}
.type-item:hover .coin-num .current-price{
    /*color: #f38033;
    background: url("../images/icon/ico-coin-hover.png") no-repeat left;*/
}
.type-item.active{
    /*background: url("../images/bg-pay-typeh.png") no-repeat;
    background-size: 100%;
    color: #f38033;*/
    border: 2px solid #f38033;
}
.type-item.active .coin-num .current-price{
    /*color: #f38033;
    background: url("../images/icon/ico-coin-hover.png") no-repeat left;*/
}
.type-item .coin-num{
    padding-top: 14px;
}
.type-item .coin-num p{
    margin-bottom: 0;
}
.coin-num .current-price{
    background: url("../images/icon/ico-coin.png") no-repeat left;
    padding-left: 40px;
    color: #8170a6;
    font-size: 45px;
    line-height: 45px;
    margin-left: 13px;
}
.coin-num .cost-price{
    color: #ed7a7a;
    font-size: 16px;
    text-decoration: line-through;
    margin-left: 36px;
    /*padding-bottom: 9px;*/
}
.type-item .total-price{
    position: absolute;
    right: 30px;
    bottom: 16px;
    font-size: 26px;
    color: #ffffff;
}
.send-coin{
    margin-left: 26px;
    font-size: 16px;
    padding-bottom: 10px;
}
.ico-recommend{
    position: absolute;
    left: 0;
    bottom: 30px;
    background: #f36241;
    padding: 4px 10px;
    color: #ffffff;
}
.pay-way p{
    color: #8a8a8a;
    font-size: 24px;
    margin-bottom: 20px;
}
.pay-way-list{
    margin-bottom: 70px;
}
.pay-way-item{
    position: relative;
    margin-bottom: 15px;
}
.pay-way-item a{
    display: block;
    border: 2px solid #dfdfdf;
}
.pay-way-item:hover .ico-selected{
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    bottom: 0;
    right: 15px;
    background: url("../images/icon/ico-pay-hover.png") no-repeat;
    background-size: 100%;
}
.pay-way-item a:hover{
    border: 2px solid #f38033;
}
.pay-way-item.active .ico-selected{
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    bottom: 0;
    right: 15px;
    background: url("../images/icon/ico-pay-hover.png") no-repeat;
    background-size: 100%;
}
.pay-way-item.active a{
    border: 2px solid #f38033;
}
.pay-way-list a img{
    width: 100%;
    text-align: center;
}
.pay-btn{
    display: block;
    background-color: #f38033;
    width: 210px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #ffffff;
    font-size: 30px;
    border: none;
}

.pay-member .coin-num .current-price{
    background: none;
    padding-left: 0;
}
.pay-heading h2 span{
    font-size: 16px;
    margin-left: 15px;
    color: #bfbfbf;
}
/*====================== /.Pay Pages ======================*/

/*=============== 机构注册 ===============*/
.register-bg{
    background-color: #f2f2f2;
}
.register-wrap{
    width: 60%;
    margin: 0 auto;
    min-width: 700px;
}
.reg-header{
    overflow: hidden;
    zoom: 1;
    margin: 24px 0 34px 0;
}
.reg-header .logo,.reg-header h1{
    float: left;
}
.reg-header h1{
    font-size: 40px;
    font-weight: normal;
    line-height: 60px;
    padding: 22px 10px;
    background: url("../images/icon/ico-br.png") no-repeat left;
    margin-left: 20px;
    color: #555555;
}
.reg-title span{
    display: block;
}
.reg-title .reg-text{
    float: left;
    border: 1px solid #dfdede;
    border-bottom: none;
    padding: 8px 35px;
    background-color: #fff;
    margin-bottom: -1px;
    color: #913785;
    font-size: 14px;
    font-weight: bold;
}
.reg-title .reg-login{
    float: right;
    padding-right: 10px;
    margin-top: 12px;
    font-size: 12px;
}
.reg-title .reg-login a{
    color: #c91623;
}
.reg-form-block{
    border:1px solid #dfdede;
    background-color: #fff;
    padding: 65px 0 65px 10%;
}
.reg-form{
    width: 60%;
    min-width: 600px;
    margin: 0 auto;
}
.reg-group{
    overflow: hidden;
    zoom: 1;
    margin-bottom: 24px;
}
.reg-group .reg-label,.reg-group .reg-input{
    float: left;
}
.reg-group .reg-label{
    color: #999999;
    font-size: 14px;
    line-height: 37px;
    width: 110px;
    text-align: right;
}
.reg-label em{
    font-style: normal;
    color: #fe0315;
    font-weight: bold;
}
.reg-input input{
     display: block;
     color: #999999;
     font-size: 13px;
     height: 35px;
     border: 1px solid #999999;
     width: 240px;
     padding: 0 10px;
}
.reg-input select{
    display: block;
    color: #999999;
    font-size: 13px;
    height: 35px;
    border: 1px solid #999999;
    /*width: 240px;*/
    width: 262px;
    padding: 0 10px;
}
.reg-input .error{
    color: #fe0315;
}
.reg-tip{
    float: left;
    color: #fe0315;
    font-size: 13px;
    margin-left: 20px;
    line-height: 37px;
}
.reg-btn-block{
    margin-left: 100px;
    margin-top: 70px;
}
.btn-register{
    width: 276px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background-color: #9d5db0;
    border: none;
    border-radius: 4px;
}
.reg-btn-block p{
    color: #333333;
    line-height: 32px;
    background: url("../images/icon/ico-tel.png") no-repeat left center;
    padding-left: 44px;
    margin-top: 24px;
}
.reg-btn-block p span{
    color: #c91623;
}
/*====================== /.机构注册 ======================*/

/*============= pay modal ===============*/
.pay-modal{
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 99999;
    width: 360px;
}
.pay-modal-dialog{
    width: 358px;
    border-bottom: 2px solid #e6e6e6;
}
.pay-modal-content{
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
}
.pay-modal-header{
    height: 40px;
    color: #333;
    background: #f2f2f2;
    padding-left: 14px;
    padding-right: 14px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    zoom: 1;
}
.pay-modal-header .pay-modal-title{
    font-size: 16px;
    float: left;
    line-height: 40px;
}
.pay-modal-header .close{
    line-height: 40px;
    font-size: 24px;
}
.pay-modal-body p{
    text-align: center;
}
.pay-modal-body p img{
    width: 110px;
    height: 110px;
    margin-top: 30px;
}
.pay-modal-body p.code-tip{
    padding-top: 19px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 14px;
}
.pay-modal-body p.pay-price{
    height: 52px;
    line-height: 52px;
    font-size: 20px;
    color: #ff6e1e;
}
/*====================== /.pay modal ======================*/

/*  购买名额  */
.pay-body .pay-places{
    padding: 0;
    color: #999999;
}
.places-num-block{
    padding: 14px 36px;
    border-bottom: 2px solid #e6e6e6;
    font-size: 20px;
}
.places-total-block{
    padding: 14px 36px;
}
.places-item-one{
    height: 50px;
    line-height: 50px;
    color: #8170a6;
    margin-bottom: 24px;
}
.buy-places-num .action-btn{
    border:1px solid #bfbfbf;
    background: #FFFFFF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 34px;
    color: #c3c3c3;
    font-weight: bold;
    cursor: pointer;
}
.buy-places-num .action-btn.active{
    color: #f64444;
    border: 1px solid #f64444;
}
.buy-places-num input{
    width: 50px;
    text-align: center;
    color: #8170a6;
    border: 1px solid #bfbfbf;
    height: 34px;
}
.places-item-three{
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}
.places-item-four{
    font-size: 26px;
    color: #8a8a8a;
}
.total-price-label span{
    font-size: 18px;
}
.total-price{
    color: #f64444;
}
/*====================== /.购买名额 ======================*/

/* 隐私政策 */
.privacy-wrap{
    background-color: #eef1f2;
    padding-top: 77px;
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.privacy-inner{
    width: 928px;
    margin: 0 auto;
    min-width: 880px;
    background-color: #FFFFFF;
}
.privacy-inner .heading-title{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    text-align: center;
    background-color: #a073b4;
}
.privacy-inner .heading-title h1{
    font-size: 24px;
    color: #FFFFFF;
    /*font-weight: bold;*/
}
.privacy-content{
    margin: 40px 20px;
    font-size: 13px;
    line-height: 24px;
}
.privacy-content h2.title{
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #333333;
    font-weight: bold;
}
.privacy-content p{
    color: #666;
    text-indent: 26px;
    margin: 0 0 10px;
}
.privacy-table th{
    color: #333333;
}
.privacy-table th,
.privacy-table td{
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
}
.privacy-table th{
    text-align: center;
}
.privacy-table td{
    border-top: 1px solid #ddd;
}
.privacy-footer{
    width: 960px;
    margin: 0 auto;
    min-width: 880px;
    height: 80px;
    padding-top: 25px;
}
.privacy-footer p{
    text-align: center;
    line-height: 20px;
    color: #7b7b7b;
    font-size: 12px;
}
/*====================== /.隐私政策 ======================*/


/*====================== About Us ======================*/
.about-us-content{
    width: 1000px;
    margin: 0 auto;
    /*margin: 55px 96px 55px 112px;*/
}
.about-us-item{
    margin: 20px 0;
}
.about-heading{
    width: 190px;
    margin:0 auto;
}
.about-heading h2{
    text-align: center;
    color: #925eb0;
    font-size: 34px;
    font-weight: normal;
    letter-spacing: 6px;
    line-height: 50px;
    border-bottom: 1px solid #999999;
}
.about-vke{
    margin-top: 50px;
}
.about-vke .about-heading{
    width: 265px;
}
.article-title{
    width: 118px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background-color: #a073b4;
    margin-top: 50px;
    position: relative;
}
.article-title h3{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: normal;
}
.ico-conner{
    display: block;
    width: 30px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/icon/ico-about-corner.png") no-repeat;
    text-indent: -99999px;
}
.about-us-txt{
    margin-top: 20px;
}
.about-us-txt .width5{
    width: 500px;
}
.about-us-item p{
    font-size: 18px;
    line-height: 40px;
    color: #666666;
    text-indent: 2em;
}
.about-us-item p span{
    color: #8652a4;
}

.about-vke h4{
    font-size: 24px;
    font-weight: normal;
    color: #666;
    margin-bottom: 30px;
}
.about-vke img{
    width: 70%;
}
.about-us-item.contact-us{
    margin-top: 64px;
}
.about-us-item .contact-title{
    border-bottom: 2px solid #925eb0;
    position: relative;
}
.about-us-item .contact-title h3{
    background-color: #925eb0;
    width: 110px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: -20px;
    left: 45%;
}
.contact-us .about-us-txt{
    width: 430px;
    margin: 64px auto auto auto;
}
.img{
    text-align: right;
}

/*====================== /.About Us ======================*/

/*====================== 安卓下载页 ======================*/
.download-theme{
    background-color: #f5f5f5;
}
.download-header{
    background-color: #f5f5f5;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0 6px;
    margin-bottom: 20px;
}
.download-header .header-title{
    font-size: 22px;
    margin-top: 8px;
    color: #666666;
    text-align: center;
}
.download-header .breadcrumb{
    font-size: 13px;
    text-align: center;
    /*margin-top: 10px;*/
    margin-bottom:0;
    background-color: #f5f5f5;
    color: #999999;
}
.double-down .download-header .breadcrumb{
    font-size: 16px;
    margin-top: 0;
    padding: 0;
}
.download-alert{
    position: fixed;
    top: 0;
    /*left: 50%;
    transform: translate(-50%, 0%);*/
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    padding: 5%;
    line-height: 24px;
    color: #ffffff;
    background: rgba(0,0,0,0.5) url("../images/bg-tip.png") no-repeat 96% center;
    background-size: 100px;
}
.download-content{
    padding-top:40px;
    padding-bottom: 50px;
}
.download-logo img{
    width: 64%;
    /*width: 120px;
    height: 120px;*/
}
.download-btn{
    /*margin-top: 30px;*/
}
.download-btn a{
    display: inline-block;
    width: 184px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    background: #8038bc url("../images/icon/ico-load.png") no-repeat 28px center;
    background-size: 30px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 0;

}
.download-btn .btn.focus,
.download-btn .btn:focus,
.download-btn .btn:hover{
    color: #FFFFFF;
}
.download-btn a span.icon-download{

}
.download-btn-box a{
    display: inline-block;
    width: 50%;
}
.download-btn-box img{
    width: 100%;
}
.download-info{
    margin-top: 10px;
}
.download-info p{
    font-size: 13px;
    color: #8038bc;
}
.download-footer{
    font-size: 14px;
    color: #666666;
    padding-bottom: 20px;
}
/*====================== /.安卓下载页 ======================*/


/*使用说明*/
.help-wrap p{
    /*margin-bottom: 10%;*/
    text-align: center;
}
.help-wrap p img{
    width: 40%;
}

/*会员服务协议*/
.user-item-inner{
    width: 100%;
    box-shadow: 0 0 5px 5px #D2D2D2;
}
.text-right{
    text-align: right;
}
.user-item-title{
    background-color: #a073b4;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.user-item-title h1{
    font-size: 20px;
    color: #FFFFFF;
}
.user-item-content{
    padding: 2% 4% 4% 4%;
}
.user-item-content p{
    text-indent: 2em;
    line-height: 30px;
    font-size: 14px;
}
.user-item-content p .pt{
    font-size: 15px;
    font-weight: bold;
    color: #666;
}

/* 企业会员特权 */
.member-vip-content{
    width: 1000px;
    min-width: 1000px;
    margin: 100px auto;
}
.member-mombo-con{
    border: 3px dashed #a073b4;
    position: relative;
    padding: 60px 20px;
    margin: 85px 0;
}
.member-title{
    position: absolute;
    top: -32px;
    left: 30%;
    background-color: #7373d2;
    padding: 6px 20px;
}
.member-title h2{
    font-size: 32px;
    color: #FFFFFF;
}
.member-mombo-con ul{
    margin-top: 80px;
}
.member-mombo-con ul li{
    float: left;
    width: 456px;
    height: 194px;
    border: 3px solid #a073b4;
    position: relative;
}
.member-mombo-con ul li.last{
    margin-left: 30px;
}
.mombo-title{
   background-color: #a073b4;
    padding-left: 69px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
}
.mombo-title h3{
    font-size: 24px;
}
.ico-num{
    position: absolute;
    background: url("../images/icon/ico-num.png") 0 0 no-repeat;
    display: block;
    text-indent: -99999px;
    left: -3px;
    top: -43px;
    height: 85px;
}
.ico-num-one{
    background-position: 0 0;
    width: 46px;
}
.ico-num-two{
    background-position: -70px 0;
    width: 64px;
}
.ico-num-three{
    background-position: 0 -94px;
    width: 65px;
    height: 87px;
}
.ico-num-four{
    background-position: -65px -93px;
    width: 69px;
}
.ico-num-five{
    background-position: 0 -191px;
    width: 65px;
}
.ico-num-six{
    background-position: -69px -191px;
    width: 65px;
    height: 87px;
}
.ico-num-seven{
    background-position: 0 -288px;
    width: 62px;
    height: 82px;
}
.ico-num-eight{
    background-position: -69px -289px;
    width: 65px;
    height: 86px;
}
.mombo-text{
    padding: 28px 19px 28px 21px;
}
.mombo-text p{
    color: #6e6e6e;
    font-size: 18px;
}
.mombo-tel{
    /*width: 808px;*/
    text-align: center;
    border: 3px solid #a073b4;
    color: #a073b4;
    font-size: 24px;
    font-weight: bold;
    padding: 24px 20px;
    margin-top: 27px;
    line-height: 49px;
}
.mombo-tel .btn-reg-guide{
    display: inline-block;
    background: url("../images/btn-reg-guide.png") no-repeat;
    width: 230px;
    height: 49px;
    text-indent: -99999px;
    margin-left: 14px;
}
.mombo-tip{
    text-align: center;
    color: #6e6e6e;
    font-size: 16px;
    line-height: 34px;
    margin-top: 14px;
}
.mombo-tip span{
    color: #a70000;
    font-weight: bold;
}
.mombo-reg .member-title{
    left: 36%;
}
.mombo-reg p{
    text-align: center;
    margin-top: 28px;
}
.mombo-reg p a{
    font-size: 18px;
    color: #6e6e6e;
    cursor: default;
}
.footer-son{
    width: 100%;
    background-color: #a073b4;
}
.footer-son-inner{
    min-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}
.footer-son-inner .copyright{
    margin: 0;
    padding: 0;
}
.footer-son-inner .copyright p,
.footer-son-inner .copyright a{
    color: #FFFFFF;
}
/* 企业用户注册教程 */
.reg-course-content{
    width: 1000px;
    min-width: 1000px;
    margin: 70px auto;
}
.reg-course-title{
    text-align: center;
    background-color: #a073b4;
    height: 60px;
    line-height: 60px;
}
.reg-course-title h1{
    font-size: 32px;
    color: #FFFFFF;
}
.reg-step-con{
    position: relative;
    padding-bottom: 90px;
}
.side-bar{
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #a073b4;
    border: 1px solid #a073b4;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    left: 43px;
}
.step-block{
    padding-top: 10px;
}
.step-bg{
    position: absolute;
    left: -95px;
    top: 26px;
    display: block;
    width: 95px;
    height: 100px;
    background: #FFFFFF url("../images/bg-step.png") no-repeat;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    line-height: 100px;
}
.step-item{
    margin-left: 97px;
    padding-top: 58px;
    position: relative;
}
.step-item h2{
    font-size: 24px;
    color: #6e6e6e;
    font-weight: bold;
    margin-left: 10px;
}
.step-item h2 a{
    font-size: 18px;
    color: #6e6e6e;
    font-weight: normal;
}
.step-item .step-dec{
    margin-top: 28px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 38px 45px 26px 45px;
}
.step-item .step-dec p{
    color: #6e6e6e;
    font-size: 18px;
    line-height: 30px;
}
.step-item .step-dec p.p-img{
    margin:12px 0;
}
.btn-reg-block{
    border-top: 1px solid #a073b4;
    width: 340px;
    margin-left: 43px;
    position: relative;

}
.btn-reg-block .btn-reg{
    position: absolute;
    left: 340px;
    display: block;
    width: 335px;
    height: 77px;
    background: url("../images/btn-reg-2.png") no-repeat;
    text-indent: -99999px;
    top: -40px;
}

/* About App*/
.about-app-content{
    width: 1000px;
    min-width: 1000px;
    margin: 100px auto;
}
.bout-app-title{
    background: url("../images/bg-title.png") no-repeat;
    width: 360px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
}
.bout-app-title h1{
    font-size: 32px;
    color: #FFFFFF;
    line-height: 60px;
}
.about-app-text{
    color: #6e6e6e;
    font-size: 24px;
    line-height: 42px;
    margin: 60px 0 30px 0;
}
.ad-video{
    height: 561px;
}
.about-list-con{
    background-color: #e9e9e9;
    padding: 52px 62px;
    margin-top: 23px;
}
.app-list-item{
    width: 380px;
    margin-top: 32px;
}
.app-list-item ul li{
    font-size: 24px;
    color: #6e6e6e;
    background: url("../images/icon/ico-list-item.png") no-repeat left 15px;
    margin-top: 40px;
    /*padding-left: 32px;*/
}
.app-use-title{
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
    background-color: #a073b4;
    height: 392px;
    text-align: center;
}
.app-use-list{
    width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
}
.app-use-list p{
    text-align: center;
}
.app-use-list img{
    width: 100%;
    vertical-align: bottom;
}


.online-block{
    position: fixed;
    right: 0;
    top:30%
}

/* download page */
.download-page-theme {
    background-color: #f8fcff;
}
.download-page-wrap {
    background: url("../images/download/download-bg.png") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}
.download-logo-box {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30%;
}
.download-page-wrap .download-btn-box a {
    width: 60%;
}
.download-logo-box img {
    max-width: 100%;
    width: 50%;
}
.download-page-wrap .download-content {
    padding: 60% 0 14% 0;
}
/* download page./ */




























































